body,
input,
button,
h1,
h2,
h3,
h4,
h5,
h6,
label,
a,
p,
span {
  font-family: "Space Grotesk", sans-serif !important;
}
/* App.css or index.css */
.eltdf-content {
  padding-top: 90px; /* desktop header height */
}

@media (max-width: 1024px) {
  .eltdf-content {
    padding-top: 70px; /* mobile header height */
  }
}